<div class="child-list">
  <% [*@children, 'new'].each_slice(4) do |row_children| %>
    <div class="child-list__row">
      <% row_children.each do |child| %>
        <% if child != 'new' %>
          <%= link_to child_path(child), class: "child-item" do %>
            <image class="child-item__image" src="<%= child.portrait_url %>" width="300" height="300" />
            <h2 class="child-item__name"><%= child.name %></h2>
          <% end %>
        <% else %>
          <%= link_to new_child_path, class: "child-item" do %>
            <image class="child-item__image" src="/images/child/new.png" width="300" height="300" />
            <h2 class="child-item__name">Opret et nyt barn</h2>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
