.employee-form-container
  display flex
  flex-direction column
  box-sizing border-box
  height 100%
  padding $base-spacing
  justify-content center
  align-items center

.employee-form
  card()
  color $base-color
  display flex
  flex-direction row
  background-color $brand-color-light

.employee-form__inputs
  flex 1 1 auto

.employee-form__image
  margin $base-spacing
  margin-bottom ($base-spacing / 2)
  width 40vh

.employee-form__name
  field()
  margin $base-spacing
  margin-top 0

.employee-form__actions
  flex 0 0 auto
  font-size 80%
  line-height ($base-spacing * .5)
  display flex
  flex-direction column
  justify-content space-between
  border-left 1px solid $spacer-color
  box-shadow 0px 10px $base-box-shadow

.employee-form__action
  display block
  padding ($base-spacing / 2) ($base-spacing / 2)
  color $brand-color
  font inherit
  background transparent
  border 0

.employee-form__input
  flex 1 1 auto
  background-color transparent
  border 0
  padding ($base-spacing / 2)
  font inherit
  font-size 140%
  color inherit
  resize none
  &:focus
    outline none
