.employee-form-container
  display flex
  flex-direction column
  box-sizing border-box
  height 100%
  padding $base-spacing
  justify-content center
  align-items center

.employee-form
  card()
  color $base-color
  background-color $brand-color-light
  width auto
  padding-right $actions-width

.employee-form__image
  margin $base-spacing
  margin-bottom ($base-spacing / 2)
  width 40vh

.employee-form__name
  field()
  margin $base-spacing
  margin-top 0
  width "calc(100% - %s)" % ($base-spacing * 2)
  box-sizing border-box

.employee-form__actions
  top-right-actions()
  position absolute
  top 0
  border-top-right-radius $base-border-radius

.employee-form__action
  action()

.employee-form__input
  flex 1 1 auto
  background-color transparent
  border 0
  padding ($base-spacing / 2)
  font inherit
  font-size 140%
  color inherit
  resize none
  &:focus
    outline none
