.note-form-container
  box-sizing border-box
  height 100%

.note-form
  background-color $brand-color-light
  height 100%
  width 100%
  color $base-color
  box-sizing border-box
  padding-right $actions-width

.note-form__actions
  top-right-actions()

.note-form__action
  action()

.note-form__input
  background-color transparent
  width 100%
  box-sizing border-box
  border 0
  padding ($base-spacing / 2)
  font inherit
  font-size 140%
  color inherit
  resize none
  min-height 50vh
  &:focus
    outline none
