.note-form-container
  display flex
  flex-direction column
  box-sizing border-box
  height 100%
  padding $base-spacing

.note-form
  card()
  flex 1 1 100%
  color $base-color
  height 220px
  display flex
  flex-direction row

.note-form__actions
  flex 0 0 auto
  font-size 80%
  line-height ($base-spacing * .5)
  display flex
  flex-direction column
  justify-content space-between
  border-left 1px solid $spacer-color
  box-shadow 0px 10px $base-box-shadow

  > a
  > button
    padding ($base-spacing / 2) ($base-spacing / 2)
    color $brand-color
    font inherit
    background transparent
    border 0

.note-form__input
  flex 1 1 auto
  background-color transparent
  border 0
  padding ($base-spacing / 2)
  font inherit
  font-size 140%
  color inherit
  resize none
  &:focus
    outline none
