.top-menu
  background-color $brand-color
  box-shadow 0px 10px $base-box-shadow
  padding 0 ($base-spacing * .75)
  z-index 1

.top-menu__link
  display inline-block
  padding ($base-spacing / 2) ($base-spacing / 4)
  color white
