//= require font-awesome
@import 'nib'
@import 'variables'
@import 'mixins'

@import 'components/card-list'
@import 'components/child-form'
@import 'components/child-item'
@import 'components/child-top-row'
@import 'components/contacts-input'
@import 'components/employee-form'
@import 'components/employee-item'
@import 'components/main-container'
@import 'components/note-form'
@import 'components/note-item'
@import 'components/portrait-input'
@import 'components/top-menu'

html
  background-color $brand-color-dark

*
  -webkit-overflow-scrolling touch

body
  font-size $base-font-size
  line-height 1.2
  font-family Arial, sans-serif
  color $base-color
  margin 0

h1
  font-size 180%
  font-weight 400

h2
  font-size 140%
  font-weight 400

a
  text-decoration none
  color $brand-color
