// Place all the styles related to the children controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.child-list {
  margin: -5px;
}

.child-item {
  margin: 5px;
  display: block;
  float: left;
  width: 300px;
}

.child-item__image {
  width: 100%;
  height: 300px;
  background-color: #ddd;
}
