$brand-color = #328430
$brand-color-dark = #0a3a0a
$brand-color-light = #eaf2ea
$brand-color-lighter = #fcfdfc
$spacer-color = #baccba
$base-color = #444
$base-spacing = 40px
$child-row-items = 4
$note-row-items = 4
$base-box-shadow = 20px rgba(0, 0, 0, .1)
$base-border-radius = 10px
